<%- include('partials/head', { title, keywords, desc, projects }) %>
<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <h2>Upcoming Service Projects</h2>
    <ul class="rmv_liststyle">
        <% projects.forEach(project => { %>
            <li class="card">
                <div>
                    <span>
                        <strong>
                            <%= project.title %> -
                        </strong>
                        <%= new Date(project.project_datetime).toLocaleString('en-US', {
                            year: 'numeric',
                            month: 'long',
                            day: 'numeric',
                            hour: 'numeric',
                            minute: '2-digit',
                        }); %>
                    </span>
                    <br>
                    <%= project.proj_description %>
                </div>
                Organized By (<%= project.organization_name %>)
                <br>
                Located in <%= project.event_location %>
            </li>
        <% }); %>
    </ul>
</main>
<%- include('partials/footer') %>
